body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 64px;
  padding: 0 24px;
}
#logo {
  margin: 10px 0;
  width: 40px;
}
#name {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
}
#name-1 {
  font-weight: bold;
}
nav {
  float: right;
}
nav div {
  display: inline-block;
  margin: 22px 8px;
}
#cta {
  background-color: lightgray;
  display: flex;
  padding: 32px 24px;
}
#cta img {
  width: 60%;
}
#cta-content {
  flex-grow: 1;
  margin: auto 24px;
}
h1 {
  font-size: 45px;
}
#cta-button {
  background-color: gray;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 8px 0;
}
#information {
  display: flex;
}
#information .main {
  flex: 0 0 60%;
  padding: 32px 24px;
  box-sizing: border-box;
}
#information .main img {
  display: block;
  width: 100%;
}
#information .main h1 {
  margin: 0;
  margin-top: 32px;
}
#information .main p {
  margin: 24px 0;
  font-size: 18px;
}
#information .main .author {
  font-size: 16px;
}
#information .side {
  flex: 1;
}
.side .box {
  padding: 16px;
  display: flex;
}
.side .box .img-container {
  flex: 0 0 35%;
}
.side .box img {
  display: block;
  width: 100%
}
.side .box .text {
  flex: 1;
  margin: 40px 30px;
}
.box .text h2 {
  font-size: 28px;
  margin: 0;
}
.box .text p {
  margin: 8px 0;
  font-size: 18px;
}
.box .text .link {
  margin: 15px 0;
}
.box .text .link a{
  text-decoration: none;
  color: blue;
}